FullScreenButton {
  position: absolute;
  top: 50px;
  left: 5px;
  width: auto;
  height: auto;
  line-height: 20pt;
  padding: 5px 15px 5px 15px;
  background: #0000ff;
  opacity: 1;
  color: #fff;
  z-index: 10000;
  cursor: pointer;
}

FullScreenButton:hover {
  background: #eeeeff;
}

html {
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
}

#body_warnung {
  background: #d3d3d3;
}

li {
  list-style-type: none;
}

li a {
  font-family: "Orbitron", sans-serif;
  font-size: 80px;
  color: blue;
;
}

p {
  font-family: "Orbitron", sans-serif;
  font-size: 15px;
  color: red;
}

h1 {
  font-family: "Orbitron", sans-serif;
  font-size: 150px;
  color: red;
  hyphens: auto;
}

audio {
  display: none;
}

#container {
  width: auto;
  height: 100vh;
}

#top-right {
  width: 80px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 50px;
}

#bottom-right {
  width: 80px;
  height: 70px;
  position: absolute;
  right: 0;
  bottom: 0;
}
